/* Theme */

@import './color.css';
@import './space.css';
@import './typography.css';
@import './main.css';


/* ******************** */
/* Components */
/* ******************** */


/* ******************** */
/* Organisms */
/* ******************** */

@import './components/organisms/o-section.css';
@import './components/organisms/o-wrapper.css';

.o-navbar {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

/* o-navbar__wrapper */
.o-navbar__wrapper {
    padding: calc(var(--space-grid) * 2);
}

@media screen and (min-width: 1200px) {
    .o-navbar__wrapper {
        padding: calc(var(--space-grid) * 4);
    }
}

/* o-thank-you-intro component */
.o-thank-you-intro {
    height: calc(100vh - 64px);
    align-content: center;
}


/* .o-thank-you-intro__header { */
@media screen and (min-width: 1200px) {
    .o-thank-you-intro__header {
        max-width: calc(37rem + var(--padding-section));
    }
}

/* .o-thank-you-intro__body { */
.o-thank-you-intro__body {
    max-width: 25rem;
}

/* o-section-intro component */
.o-section-intro-home {
    height: calc(100vh - 64px);
    align-content: center;
}

/* ******************** */
/* Atoms */
/* ******************** */

@import './components/atoms/a-title.css';
@import './components/atoms/a-text.css';
@import './components/atoms/a-input.css';
@import './components/atoms/a-button.css';

/* logo component */
.a-logo {
    display: block;
    height: 2rem;
    width: auto;
}

@media screen and (min-width: 1200px) {
    .a-logo {
        height: 2.875rem;
    }
}